/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */ 

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/behaviors.h>

/ {
    behaviors {
        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };
        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <7 8 9 10 11 12 13 19 20 21 22 23 24 31 32 33 34 35 36 37 38 39 40 41 42>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <1 2 3 4 5 6 12 13 14 15 16 17 18 25 26 27 28 29 30 36 37 38 39 40 41 42>; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
        hmt: home_row_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <190>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    macros {
        toggle_mac: toggle_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog_on 1>
                , <&tog_off 0>
                ;
        };
        toggle_win: toggle_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog_on 0>
                , <&tog_off 1>
                ;
        };
        toggle_game_on: toggle_game_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog_on 3>
                , <&tog_off 0>
                ;
        };
        toggle_game_off: toggle_game_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&tog_on 0>
                , <&tog_off 3>
                ;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer_windows {
// -----------------------------------------------------------------------------------------
// | esc   |   q lalt (hold) |  w  |  e  |  r  |  t  |   |  y  |  u   |  i  |  o  |  p ralt (hold)  | bspc |
// | tab   |  a lshift(hold) |  s  |  d  |  f  |  g  |   |  h  |  j   |  k  |  l  |  ; rshift(hold) |  '   |
// | caps  |  z lctrl(hold)  |  x  |  c  |  v  |  b  |   |  n  |  m   |  ,  |  .  |  - rctrl(hold)  | del  |
//                      | gui | lwr | ent |   | spc  | rse  | alt |
                        display-name = "windows";
                        bindings = <
   &kp esc   &hml lalt q   &kp w &kp e &kp r &kp t   &kp y &kp u  &kp i     &kp o   &hmr ralt p      &kp bspc
   &kp tab   &hml lshift a &kp s &kp d &kp f &kp g   &kp h &kp j  &kp k     &kp l   &hmr rshift semi &kp sqt
   &kp caps  &hml lctrl z  &kp x &kp c &kp v &kp b   &kp n &kp m  &kp comma &kp dot &hmr rctrl minus &kp del
                           &kp lgui &mo 3 &kp ret   &kp space &mo 4 &kp ralt
                        >;
                };
                default_layer_macos {
// -----------------------------------------------------------------------------------------
// | ESC   |   Q LALT (hold) |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P RALT (hold)  | BSPC |
// | TAB   |  A LSHIFT(hold) |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ; RSHIFT(hold) |  '   |
// | CAPS  |  Z LGUI(hold)   |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  - RGUI(hold)   | DEL  |
//                       |  LCTRL  | LWR | ENT |   | SPC | RSE  |  RCTRL  |
                        display-name = "MacOS";
                        bindings = <
   &kp ESC   &hml LALT Q   &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &hmr RALT P      &kp BSPC
   &kp TAB   &hml LSHIFT A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &hmr RSHIFT SEMI &kp SQT
   &kp CAPS  &hml LGUI Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &hmr RGUI MINUS   &kp DEL
                              &kp LCTRL &mo 3 &kp RET   &kp SPACE &mo 4  &kp RCTRL
                        >;
                };
                default_layer_game {
// -----------------------------------------------------------------------------------------
// | esc   |  q  |  w  |  e  |  r  |  t  |   |  y  |  u   |  i  |  o  |  p ralt (hold)  | bspc |
// | tab   |  a  |  s  |  d  |  f  |  g  |   |  h  |  j   |  k  |  l  |  ; rshift(hold) |  '   |
// | alt   |  z  |  x  |  c  |  v  |  b  |   |  n  |  m   |  ,  |  .  |  - rctrl(hold)  | del  |
//                      | alt | ctrl | spc |   | ret | lwr  | alt |
                        display-name = "game";
                        bindings = <
   &kp esc   &kp q  &kp w &kp e &kp r &kp t   &trans &trans  &trans &trans &trans &trans
   &kp tab   &kp a  &kp s &kp d &kp f &kp g   &trans &trans  &trans &trans &trans &trans
   &kp lalt  &kp z  &kp x &kp c &kp v &kp b   &trans &trans  &trans &trans &trans &trans
                           &kp kp lalt &kp lctrl &kp space   &kp ret &mo 3 &trans
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |       | BT1 | BT2  | BT3  | BT4 | BT5 |   |  ~  |  7  |  8  |  9  |  =  |       |
// |GAMEOFF|     |      |  <   |  >  | WIN |   |  *  |  4  |  5  |  6  |  +  |   `   |
// |GAMEON |     |      |      |     |MACOS|   |  /  |  1  |  2  |  3  |  -  | BTCLR |
//                    | GUI |     | ENT |   | SPC |     |  0  |
                        display-name = "Numbers";
                        bindings = <
   &trans           &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp TILDE  &kp N7  &kp N8  &kp N9  &kp EQUAL &trans
   &toggle_game_off &trans        &trans       &kp LT       &kp GT       &toggle_win    &kp STAR   &kp N4  &kp N5  &kp N6  &kp PLUS  &kp GRAVE
   &toggle_game_on  &trans        &trans       &trans       &trans       &toggle_mac    &kp SLASH  &kp N1  &kp N2  &kp N3  &kp MINUS &bt BT_CLR
                          	        &trans       &trans       &trans         &trans    &trans   &kp N0
                        >;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  (  |  )  |  ?  |      |
// |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  "   |
// |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |      |
//                    | GUI |     | RET |   | SPC |     | ALT |
                        display-name = "Symbols";
                        bindings = <
   &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp CARET &kp AMPS  &kp LPAR &kp RPAR &kp QUESTION &trans
   &trans &trans   &trans &trans   &trans   &trans       &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH     &kp DQT
   &trans &trans   &trans &trans   &trans   &trans       &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE     &trans
                    	     &kp LGUI &trans   &kp RET   &kp SPACE   &trans    &kp RALT
                        >;
                };

                movement_layer {
// -----------------------------------------------------------------------------------------
// |  F1  |  F2  |  F3 | F4  | F5  | F6  |   |     | ctrl-d  |  ctrl-u |     |     |      |
// |  F7  |  F8  |  F9 | F10 | F11 | F12 |   | LFT |   DWN   |    UP   | RGT |     |      |
// |      | LGUI |LCTRL| LALT|LSHIFT|    |   | HOME |  PG_DN  |  PG_UP  | END |     |      |
//                    |     |     |      |   |     |     |     |
                        display-name = "Nav.";
                        bindings = <
   &kp F1    &kp F2   &kp F3    &kp F4   &kp F5       &kp F6    &trans   &kp RC(D)  &kp LC(U)  &trans    &trans &trans
   &kp F7    &kp F8   &kp F9    &kp F10  &kp F11      &kp F12   &kp LEFT &kp DOWN   &kp UP     &kp RIGHT &trans &trans
   &trans    &kp LGUI &kp LCTRL &kp LALT &kp LSHIFT   &trans    &kp HOME &kp PG_DN  &kp PG_UP  &kp END   &trans &trans
                    	    &trans  &trans  &trans    &trans   &trans     &trans
                        >;
                };
                

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
